@inherits LayoutComponentBase

<div class="d-flex h-100">
    <NavMenu />

    <div class="main-content flex-grow-1 p-4">
        <h2 class="page-title">User Management System</h2>
        @Body
    </div>
</div>
