<div class="sidebar">
    <div class="text-center my-3">
        <img src="logo.png" alt="Inflo Logo" style="max-height: 60px;" />
    </div>

    <nav class="nav flex-column px-3">
        <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
            <i class="bi bi-house-door-fill me-2"></i> Home
        </NavLink>
        <NavLink class="nav-link" href="users">
            <i class="bi bi-people-fill me-2"></i> Users
        </NavLink>
    </nav>
</div>
